body,html{
	margin: 0;
	padding: 0;
}
.bg{
	background-position: center center;
	background-size: cover;
	height: 350px;
	max-height: 450px;
	color: white;
	text-align: center;
	margin-top: 5%;
}
.textcen{
	text-align: center;
}
.backAndco{
	background-color: #F5F5F5;
	color:#555555;
}
.line{
	width: 50%;
}
.thing{
	font-size: 1.5em;
	padding-top: 5%;
}
.fsize{
	font-size: 1.5em;
}
.top5{
	margin-top: 5%;
}
.content{
	line-height: 2em;
}
.color5{
	color: #555555;
}
.logo{
	color: blue;
}
.shoes{
	width: 100%;
	height: 600px;
	background: url("../img/header_bg.jpg") no-repeat center top;
	background-size: cover;
}
.shield{
	font-size: 100px;
}

.box1 h1{
	color: white;
	margin-top: 200px;
	line-height: 1.5em;
}
.box2{
	width: 100%;
	border-bottom: 1px solid lightgrey;
}
.box2 div i{
	font-size: 50px;
}
.box2 div{
	padding: 30px 40px 40px 50px;
}
.box3{
	padding: 50px;
}
.box4{
	background-image: url("../img/bg/divider1.jpg");
}
.box4 div p{
	padding: 0 5% 0 5%;
}
.box4 div{
	padding-top: 5%;
}
.box5 div div{
	margin-left: 15%;
}
.box5 img{
	height: 450px;
}
.box6{
	background-image: url("../img/bg/divider2.jpg");
}
.box6 div{
	padding-top: 5%;
}
.box7{
	margin-top: 3%;
}
.box7 hr{
	border: 1px solid lightgrey;
}
.box8 p{
	margin-top: 10%;
}
.box8 div{
	padding: 3%;
}
.box8 div img{
	width: 120px;
	height: 120px;
}
.box9{
	height: 450px;
}
.box9 button{
	margin-top: 20%;
}
.box10{
	margin-top: 0;
	background-image: url("../img/bg/divider3.jpg");
}
.thing{
	padding-top: 5%;
}
.two2{
	margin-top: 2%;
}
.box11 hr{
	margin-bottom: 5%;
	border: 1px solid lightgrey;
}
.box12{
	background-image: url("../img/bg/divider4.jpg");
}
.box13 img{
	margin-top: 10%;
	margin-left: 10%;
	width: 80px;
	height: 80px;
}
.box13 p,h4{
	text-align: center;
	margin: 20% 0 20% 0;
}
.one{
	background-color:#2b2b2b;
	height: 450px;
	color:  lightgrey;
}
.two{
	background-color: #f2f2f2;
	height: 450px;
}
.box14{
	background-image: url("../img/bg/divider6.jpg");
}
.box15 input{
	border-radius: 7%;
	width: 200px;	
}